# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# =====================
# Frontend specific
# =====================
# Compiled output
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# Node
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/yarn-debug.log*
frontend/npm-debug.log*

# Angular
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/

# Frontend Environment files
frontend/src/environments/environment*.ts

# =====================
# Backend specific
# =====================

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so


# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg

# Python testing
backend/htmlcov/
backend/.tox/
backend/.nox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/.hypothesis/
backend/.pytest_cache/

# Python environment
backend/.python-version
backend/.env
backend/.env.*

# =====================
# IDE and Editor files
# =====================
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# PyCharm
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =====================
# System files
# =====================
.DS_Store
Thumbs.db 